<ion-header>
    <button ion-button clear data-back-button full (click)="closeMe($event)">
      <span>FECHAR</span>
    </button>
  </ion-header>
<ion-content padding>
  <ion-list>   
      <ion-label class="title" color="primary">Cadastro de Clientes</ion-label>
        <ion-item data-input="nome">
          <ion-label floating>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="nome"></ion-input>
      </ion-item>
      <ion-item data-input="telefone">
        <ion-label floating>E-mail</ion-label>
        <ion-input type="tel" [(ngModel)]="tel"></ion-input>
      </ion-item>
      <ion-item data-input="cnpj">
        <ion-label floating>Telefone</ion-label>
        <ion-input type="text" [(ngModel)]="cnpj"></ion-input>
      </ion-item>
      
      <ion-item data-input="cep">
        <ion-label floating>Empresa</ion-label>
        <ion-input type="text" [(ngModel)]="cep"></ion-input>
      </ion-item>
      
    <button ion-button  full (click)="salvar()">
      <img src="assets/images/svg-loaders/oval.svg" *ngIf="isLoading" />
      <span *ngIf="!isLoading">SALVAR</span>
    </button>
</ion-list>
</ion-content>

