page-home {
    ion-content { 
        .content-home {
            background-image: url('../assets/imgs/fundo-fidelio.svg'); 
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        .scroll-content{
            padding: 0 !important;
        }
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin:50px auto;
        position: relative;
        .item-inner {
            border: none !important;
        }
        
    }
    .toolbar-background{ 
        background-color: rgba(233, 3, 3, 0.986) !important
    }
}
